

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Economica:ital@1&family=Gothic+A1&display=swap');

body{
    width: 100%;
    height: 100%;
    background-color: #F2F1DC ;
    color: black;
    font-family: Gothic A1;

}

#titeTemplate{
    color: black;
    background-color: #F2F1DC;
} 


#footer{
    background-color: #6FA8BF !important;
}

#footer ul li a{
    color: #F2F1DC !important;
}
#accueilcontainer{
    background-image: url(./public/images/LOGO_LE_NOUVEAU_MONDE.png);
    background-size: cover;
    background-repeat: center;
    background-repeat: no-repeat;
    opacity: 6;
    background-size: 25%;
}
#navbarTemplate button{
background-color: #6FA8BF;
}

#mainAtelier{
/* color: #F2F2F2 ; */
color: #6FA8BF ;
/* background-color: #6FA8BF; */
background-color: #F2F2F2;
}

#atelierContainer h2{
    text-align: center;
}
#legendeProgress{
    text-align: center;
}

#atelierCard h5{
    height: 20%;
    color: black;
    text-align: center;
}

#atelierCard{
    height: 320px;
        color: black;
    background-color: #F2F2F2 
}

.invalid{
color: red;        
}
.valid{
    color: green;        
    }